{% include head.html %}

  <body data-spy="scroll" data-target=".toc">

{% include navbar.html %}

    <div class="jumbotron">
      <div class="container">
        <h1>{{site.title}}</h1>
        <p>{{site.subtitle}}</p>
      </div>
    </div>

    <div class="container">
      {{ content }}

{% include footer.html %}
    </div>

<!--
    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/site.js"></script>
  </body>
</html>
